<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
    and uncomment the following Encore helpers to start using Symfony UX #}

    {% block css %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('assets/home.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/profil.css') }}">

    {% endblock %}



</head>

<body>

    <!-- Bar de navigation -->
    
    <header  class="container-fluid {% if app.request.get('_route') == 'home' %} bar-navigation-1 {% else %} bar-navigation-2 {% endif %} ">

        <div class="container">
            <a class="brand" href="#">Next P</a>
            <div class="navigation">
                <div class="navigation-items">
                    <a class="" href="{{ path('home') }}">Home</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="" href="{{ path('user_crud_index') }}">Gestion utilisateur</a>
                    {% endif %}
                    <a class="" href="{{ path('step1') }}">Étape 1</a>
                    <a class="" href="{{ path('step2') }}">Étape 2</a>
                    <a class="" href="{{ path('step3') }}">Étape 3</a>
                    <a class="" href="{{ path('step4') }}">Étape 4</a>
                    <a class="" href="{{ path('help') }}">Help</a>
                    {% if app.user %}
                    <a class="" href="{{ path('app_logout') }}">Se déconnecter</a>
                    {% else %}
                    <a class="" href="{{ path('app_login') }}">Se connecter</a>
                    <a class="" href="{{ path('app_register') }}">S'inscrire</a>
                    {% endif %}
                    {% if app.user %}
                    <a class="" href="{{ path('profil') }}">Mon profil</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

 
    {% block body %}
    {% endblock %}
    

    {% block js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {% endblock %}



</body>

</html>